<%- include('../partials/nav.ejs') %>  
<main class="profile-ctn">
  <section class="manageClass mt-3">
    <button
      type="button"
      class="btn btn-info"
      onclick="window.location.href='/student/new'"
    >
      Add a Student
    </button>
    <button
      type="button"
      class="btn btn-info"
      data-bs-toggle="modal"
      data-bs-target="#surveyLinks"
    >
      Survey links
    </button>
    <!-- Survey links modal -->
    <div
      class="modal fade"
      id="surveyLinks"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">
              Survey Links
            </h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <ul class="list-group list-group-flush">
              <% allStudents.forEach(student => { %>
              <li class="list-group-item pt-3 pb-3">
                <span class="fw-bold"><%= student.firstName %></span> -
                https://ironmatch.adaptable.app/<%= student._id %>
              </li>
              <% }) %>
            </ul>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
          </div>
        </div>
      </div>
    </div>

    <button
      type="button"
      class="btn btn-info"
      onclick="window.location.href='/user/random-teams'"
    >
      Create random teams
    </button>
    <!-- Random teams pop-up -->
    <div
      class="modal fade"
      id="randomMatches"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">
              Random teams
            </h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body"></div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
            <button
              type="button"
              class="btn btn-primary"
              id="downloadCSV"
              onclick="window.location.href='/randomTeams/download'"
            >
              Download CSV
            </button>
          </div>
        </div>
      </div>
    </div>

    <button
      type="button"
      class="btn btn-info"
      onclick="window.location.href='/user/project-teams'"
    >
      Create custom teams
    </button>
  </section>
  <section class="myClass">
    <h1 class="mb-4">My class:</h1>
    <div class="allStudents">
      <% allStudents.forEach(student => { %>
      <div class="card" style="width: 15rem">
        <img
          src="<%- student.imageUrl %>"
          class="card-img-top"
          alt="student-image"
        />
        <div class="card-body">
          <h5 class="card-title"><%= student.firstName %></h5>
          <a href="/student/<%= student._id %>" class="btn btn-info">View</a>
        </div>
      </div>
      <% }) %>
    </div>
  </section>
</main>
