<%- include('../partials/nav.ejs') %>  
<h1 class="mb-5 mt-5">Create Project Teams</h1>
<% if (typeof errorMessage !== "undefined") { %>
<h4 class="errorMessage"><%= errorMessage %></h4>
<% } %>
<form action="/user/project-teams" method="POST">
  <table class="table table-success table-striped table-hover table-bordered">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Perfect</th>
        <th scope="col">Good</th>
        <th scope="col">OK</th>
        <th scope="col">Bad</th>
        <th scope="col">Very Bad</th>
      </tr>
    </thead>
    <tbody class="projectTeams-tbody table-group-divider">
      <% allStudents.forEach(student => { %>

      <tr>
        <th scope="row">
          <input type="checkbox" name="<%= student._id %>" class="th-input" />
          <div class="student-index">
            <!-- <img class="img-small" src="<%= student.imageUrl %>" alt="" /> -->
            <%= student.firstName %>
          </div>
        </th>
        <td>
          <% createMatches(student).perfect.forEach((match) => { %>
          <input type="checkbox" name="<%= student._id %>-<%= match._id %>" />
          <%- match.firstName %> <% }) %>
        </td>
        <td>
          <% createMatches(student).good.forEach((match) => { %>
          <input type="checkbox" name="<%= student._id %>-<%= match._id %>" />
          <%- match.firstName %> <% }) %>
        </td>
        <td>
          <% createMatches(student).ok.forEach((match) => { %>
          <input type="checkbox" name="<%= student._id %>-<%= match._id %>" />
          <%- match.firstName %> <% }) %>
        </td>
        <td>
          <% createMatches(student).bad.forEach((match) => { %>
          <input type="checkbox" name="<%= student._id %>-<%= match._id %>" />
          <%- match.firstName %> <% }) %>
        </td>
        <td>
          <% createMatches(student).veryBad.forEach((match) => { %>
          <input type="checkbox" name="<%= student._id %>-<%= match._id %>" />
          <%- match.firstName %> <% }) %>
        </td>
      </tr>
      <% }) %>
    </tbody>
  </table>
  <button type="submit" class="btn btn-info mt-5">Submit</button>
</form>
