<%- include('../partials/nav.ejs') %>  
<main class="profile-ctn">
<% if (typeof errorMessage !== "undefined") { %>
<h4 class="errorMessage"><%= errorMessage %></h4>
<% } %>
<form action="/user/project-teams" method="POST">
  <div class="form-header">
    <h1 class="mb-5 mt-5">Create Project Teams</h1>
    <button type="submit" class="btn btn-info btn-lg">Submit</button>
  </div>
  <table class="table table-hover table-bordered projectTeams-table">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Perfect</th>
        <th scope="col">Good</th>
        <th scope="col">OK</th>
        <th scope="col">Bad</th>
        <th scope="col">Very Bad</th>
      </tr>
    </thead>
    <tbody class="projectTeams-tbody table-group-divider">
      <% allStudents.forEach(student => { %>

      <tr>
        <th scope="row">
          <div class="input-ctn input-main">
            <input type="checkbox" name="<%= student._id %>" class="th-input" />
            <div class="student-index">
              <%= student.firstName %>
            </div>
          </div>
        </th>
        <td>
          <% createMatches(student).perfect.forEach((match) => { %>
            <div class="input-ctn">
              <input type="checkbox" name="<%= student._id %>-<%= match._id %>" />
              <div>
                <%- match.firstName %>
              </div>
            </div>
            <% }) %>
        </td>
        <td>
          <% createMatches(student).good.forEach((match) => { %>
            <div class="input-ctn">
              <input type="checkbox" name="<%= student._id %>-<%= match._id %>" />
            <div>
              <%- match.firstName %>
            </div> 
          </div>
          <% }) %>
        </td>
        <td>
          <% createMatches(student).ok.forEach((match) => { %>
            <div class="input-ctn">
              <input type="checkbox" name="<%= student._id %>-<%= match._id %>" />
              <div>
                <%- match.firstName %> 
              </div>
            </div>
          <% }) %>
        </td>
        <td>
          <% createMatches(student).bad.forEach((match) => { %>
            <div class="input-ctn">
              <input type="checkbox" name="<%= student._id %>-<%= match._id %>" />
            <div>
              <%- match.firstName %> 
            </div>
          </div>
          <% }) %>
        </td>
        <td>
          <% createMatches(student).veryBad.forEach((match) => { %>
            <div class="input-ctn">
              <input type="checkbox" name="<%= student._id %>-<%= match._id %>" />
            <div>
              <%- match.firstName %> 
            </div>
          </div>
          <% }) %>
        </td>
      </tr>
      <% }) %>
    </tbody>
  </table>
</form>
</main>